
* {
      /*border: 1px solid black;*/
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
	width: 80%;
	margin: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

img {
  max-width: 100%;
  max-height: 100%;
}

a { text-decoration: none;
    font-style: italic;
    font-weight: 900;
    color: black;
    display:inline-block;
    margin-right: 5px;
}

/* Each state */

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none;}
a:hover, a:active {
  text-decoration: none;
  color: #4C554C;
}

.title__container {
  height: auto;
  margin-top: 50px;
  font: 150px Libre Baskerville;
  margin-bottom: 160px;
}

.emailstyle {
  font: 20px Libre Baskerville;
  font-weight: 900;
  margin-top: 20px;
}
.pagetext {
  width: 50%;
  margin-top: 20px;
  font: 25px Libre Baskerville;
}

.displaycontainer {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 220px;
}

.diptych__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.diptych__both {
  width: 49%;
  height: 100%;
}

.fourplex__flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.fourplex__each {
  height: 48%;
  width: 48%;
  margin-top: 38px;
}

.landscape__flex {
  display: flex;
  flex-direction: column;

}

.landscape__each {
  width: 100%;
  margin-top: 38px;
}

.footertext__flex {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.footertext {
  font: 20px Libre Baskerville;
  font-weight: 900;
}
